<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6wsNyRqtVMrnLpq3q8OJYJqIh0JO6xs0</string>
	<key>GCM_SENDER_ID</key>
	<string>1035311335906</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cardlytics.app</string>
	<key>PROJECT_ID</key>
	<string>vector-expense</string>
	<key>STORAGE_BUCKET</key>
	<string>vector-expense.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1035311335906:ios:085bdfd5978179d8e491bb</string>
</dict>
</plist>